.logo-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.logo-text {
  font-style: normal;
  font-family: Sora;
  font-weight: 700;
}
.logo-text3 {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
}
@media(max-width: 1200px) {
  .logo-text {
    width: 299px;
    font-family: Sora;
    font-weight: 500;
    margin-left: 2px;
  }
  .logo-text1 {
    font-style: normal;
    font-weight: 700;
  }
  .logo-text2 {
    font-style: normal;
    font-weight: 700;
  }
}
@media(max-width: 991px) {
  .logo-container {
    width: auto;
  }
  .logo-text {
    width: 229px;
    height: 23px;
    font-size: 14px;
    font-style: normal;
    font-family: Sora;
    font-weight: 500;
  }
  .logo-text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .logo-text2 {
    font-style: normal;
    font-weight: 700;
  }
  .logo-text3 {
    font-size: 25px;
  }
}
@media(max-width: 767px) {
  .logo-text3 {
    font-size: 25px;
  }
}
@media(max-width: 479px) {
  .logo-text {
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-family: Sora;
    font-weight: 700;
  }
  .logo-text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .logo-text2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .logo-text3 {
    font-size: 25px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 500;
  }
}

.nav-links-container {
  display: flex;
  position: relative;
}
.nav-links-link {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 600;
  margin-right: 0px;
  text-decoration: none;
}
.nav-links-link:hover {
  color: var(--dl-color-turquoise-g);
  border-color: var(--dl-color-turquoise-g);
  border-width: 1px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.nav-links-link1 {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
  text-decoration: none;
}
.nav-links-link1:hover {
  color: var(--dl-color-turquoise-g);
  border-color: var(--dl-color-turquoise-g);
  border-width: 1px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.nav-links-link2 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.nav-links-link2:hover {
  color: var(--dl-color-turquoise-g);
  border-color: var(--dl-color-turquoise-g);
  border-width: 1px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.nav-links-navlink {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-links-navlink:hover {
  color: var(--dl-color-turquoise-g);
  border-color: var(--dl-color-turquoise-g);
  border-width: 1px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.nav-links-link3 {
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-links-link3:hover {
  color: var(--dl-color-turquoise-g);
  border-color: var(--dl-color-turquoise-g);
  border-width: 1px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
@media(max-width: 1200px) {
  .nav-links-link {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav-links-link1 {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-twounits);
    margin-right: 0px;
  }
  .nav-links-link2 {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-twounits);
    margin-right: 0px;
  }
  .nav-links-navlink {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-twounits);
  }
  .nav-links-link3 {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .nav-links-link {
    font-size: 14px;
  }
  .nav-links-link1 {
    font-size: 14px;
  }
  .nav-links-link2 {
    font-size: 14px;
  }
  .nav-links-navlink {
    font-size: 14px;
  }
  .nav-links-link3 {
    font-size: 14px;
  }
}

.nav-icons-container {
  position: relative;
}
.nav-icons-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-icons-icon:hover {
  fill: var(--dl-color-turquoise-g);
}
.nav-icons-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-icons-icon2:hover {
  fill: var(--dl-color-turquoise-g);
}
.nav-icons-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-icons-icon4:hover {
  fill: var(--dl-color-turquoise-g);
}
.nav-icons-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  text-decoration: none;
}
.nav-icons-icon6:hover {
  fill: var(--dl-color-turquoise-g);
}







@media(max-width: 1200px) {
  .nav-icons-icon4 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .nav-icons-icon6 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .nav-icons-root-class-name2 {
    display: none;
  }
  .nav-icons-root-class-name3 {
    display: none;
  }
  .nav-icons-root-class-name5 {
    display: none;
  }
}
@media(max-width: 991px) {
  .nav-icons-icon {
    margin-left: 0px;
  }
  .nav-icons-root-class-name4 {
    margin-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .nav-icons-icon4 {
    margin-top: 0px;
  }
}

.navigation-links-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-link1 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  color: #000000;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  text-decoration: none;
}
.navigation-links-link3 {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}



@media(max-width: 1200px) {
  .navigation-links-link {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
  }
  .navigation-links-link1 {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
  }
  .navigation-links-link2 {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
  }
  .navigation-links-link3 {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
  }
  .navigation-links-navlink {
    font-style: normal;
    font-family: Work Sans;
    font-weight: 600;
  }
}
@media(max-width: 991px) {
  .navigation-links-container {
    height: 308px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
  .navigation-links-link {
    font-size: 20px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .navigation-links-link1 {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .navigation-links-link2 {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .navigation-links-link3 {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .navigation-links-link4 {
    font-size: 20px;
    margin-left: 0px;
  }
  .navigation-links-root-class-name1 {
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .navigation-links-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0px;
  }
  .navigation-links-root-class-name {
    align-self: flex-start;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name1 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name2 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card1-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card1-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card1-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card1-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card1-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
.blog-post-card1-root-class-name {
  align-self: center;
}
@media(max-width: 1200px) {
  .blog-post-card1-text {
    font-family: Work Sans;
  }
  .blog-post-card1-text1 {
    font-family: Work Sans;
  }
  .blog-post-card1-text2 {
    font-family: Work Sans;
  }
}

.blog-post-card5-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card5-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card5-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card5-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card5-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card5-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card5-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card5-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}

@media(max-width: 1200px) {
  .blog-post-card5-text {
    font-family: Work Sans;
  }
  .blog-post-card5-text1 {
    font-family: Work Sans;
  }
  .blog-post-card5-text2 {
    font-family: Work Sans;
  }
}

.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card3-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card3-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card3-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card3-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card3-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card3-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
@media(max-width: 1200px) {
  .blog-post-card3-text {
    font-family: Work Sans;
  }
  .blog-post-card3-text1 {
    font-family: Work Sans;
  }
  .blog-post-card3-text2 {
    font-family: Work Sans;
  }
}

.blog-post-card4-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card4-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card4-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card4-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card4-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card4-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card4-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card4-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
@media(max-width: 1200px) {
  .blog-post-card4-text {
    font-family: Work Sans;
  }
  .blog-post-card4-text1 {
    font-family: Work Sans;
  }
  .blog-post-card4-text2 {
    font-family: Work Sans;
  }
}

.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card2-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card2-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card2-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card2-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card2-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
@media(max-width: 1200px) {
  .blog-post-card2-text {
    font-family: Work Sans;
  }
  .blog-post-card2-text1 {
    font-family: Work Sans;
  }
  .blog-post-card2-text2 {
    font-family: Work Sans;
  }
}

.bottom-logo-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.bottom-logo-text {
  font-size: 16px;
  font-family: Sora;
}
.bottom-logo-text1 {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
}
@media(max-width: 1200px) {
  .bottom-logo-text {
    font-size: 16px;
    font-family: Sora;
  }
  .bottom-logo-text1 {
    font-size: 16px;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .bottom-logo-container {
    width: auto;
    height: 43px;
  }
}
@media(max-width: 767px) {
  .bottom-logo-container {
    width: 149px;
  }
}
@media(max-width: 479px) {
  .bottom-logo-container {
    width: 138px;
  }
  .bottom-logo-text1 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-nav {
  display: flex;
}
.home-container2 {
  display: flex;
  position: relative;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-heading {
  font-family: Sora;
  font-weight: 700;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-body {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-intro {
  display: flex;
  position: relative;
  margin-left: 300px;
  margin-right: 0px;
  padding-right: 0px;
  flex-direction: column;
  position: absolute;
}
.home-text03 {
  font-style: normal;
  font-family: Sora;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  font-size: 3rem;
  max-width: 450px;
  font-family: Sora;
}
.home-text05 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-family: Work Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link {
  color: var(--dl-color-turquoise-g);
  width: 149px;
  height: 55px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-turquoise-g);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.home-link:hover {
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-turquoise-f);
  background-color: var(--dl-color-turquoise-g);
}
.home-image {
  width: 401px;
  height: 643px;
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
  margin-right: 300px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-banner {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #f8f9fa;
}
.home-text06 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  text-align: center;
  font-family: Sora;
}
.home-text07 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  font-family: Work Sans;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link1 {
  color: var(--dl-color-turquoise-g);
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-turquoise-g);
  border-width: 2px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.home-link1:hover {
  color: #ffffff;
  transform: scale(1.02);
  border-color: var(--dl-color-turquoise-g);
  background-color: var(--dl-color-turquoise-g);
}
.home-blog {
  width: 1643px;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-link2 {
  display: contents;
}
.home-component03 {
  text-decoration: none;
}
.home-container4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-link3 {
  display: contents;
}
.home-component04 {
  text-decoration: none;
}
.home-link4 {
  display: contents;
}
.home-component05 {
  text-decoration: none;
}
.home-link5 {
  display: contents;
}
.home-component06 {
  text-decoration: none;
}
.home-link6 {
  display: contents;
}
.home-component07 {
  text-decoration: none;
}
.home-link7 {
  color: var(--dl-color-turquoise-g);
  font-style: normal;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-turquoise-g);
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.home-link7:hover {
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-turquoise-g);
  background-color: var(--dl-color-turquoise-g);
}
.home-banner1 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1623100788512-46fd4f06369b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDc3fHx0dXJxdW9pc2V8ZW58MHx8fHwxNjYyODEyODg3&ixlib=rb-1.2.1&w=1500');
  background-position: bottom;
}
.home-text08 {
  font-size: 3rem;
  text-align: center;
  font-family: Sora;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link8 {
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.home-link8:hover {
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-turquoise-g);
  background-color: var(--dl-color-turquoise-g);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text09 {
  font-family: Work Sans;
}
.home-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .home-intro {
    margin-left: 150px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-text05 {
    font-size: 20px;
  }
  .home-link {
    color: var(--dl-color-turquoise-g);
    font-style: normal;
    font-family: Work Sans;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  .home-image {
    margin-right: 150px;
  }
  .home-text07 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    text-align: justify;
    font-family: Work Sans;
  }
  .home-blog {
    width: 100%;
  }
}
@media(max-width: 1200px) {
  .home-container {
    align-items: center;
    justify-content: flex-start;
  }
  .home-header {
    width: 1008px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-heading {
    width: 299px;
    font-family: Sora;
    font-weight: 500;
    margin-left: 2px;
  }
  .home-text01 {
    width: 299px;
    font-family: Sora;
    font-weight: 500;
    margin-left: 2px;
  }
  .home-hero {
    height: 100%;
    position: relative;
    margin-top: 0px;
  }
  .home-banner {
    height: 408px;
    position: relative;
    margin-top: 0px;
    background-color: #f8f9fa;
  }
  .home-link1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-blog {
    width: 100%;
  }
  .home-text09 {
    font-family: Work Sans;
  }
}
@media(max-width: 991px) {
  .home-header {
    width: 775px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container1 {
    width: 228px;
    padding-right: 0px;
  }
  .home-nav {
    display: none;
  }
  .home-icon-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: 25px;
    height: 25px;
    display: flex;
  }
  .home-mobile-menu {
    height: 688px;
    display: none;
  }
  .home-container3 {
    position: relative;
  }
  .home-text {
    left: 6px;
    bottom: -32px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
  }
  .home-heading {
    font-style: normal;
    font-family: Sora;
    font-weight: 800;
  }
  .home-text01 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text02 {
    font-style: inherit;
    font-weight: 500;
  }
  .home-icon2 {
    width: 25px;
    height: 25px;
  }
  .home-nav2 {
    flex-direction: column;
  }
  .home-hero {
    flex-direction: column;
  }
  .home-intro {
    margin-top: var(--dl-space-space-threeunits);
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text03 {
    top: 9px;
    left: 350px;
    font-style: normal;
    font-family: Sora;
    font-weight: 500;
  }
  .home-text04 {
    text-align: center;
  }
  .home-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image {
    margin-right: 0px;
  }
  .home-banner {
    height: 421px;
  }
  .home-text07 {
    max-width: 100%;
  }
  .home-footer {
    flex-direction: column;
    justify-content: center;
  }
  .home-text09 {
    font-family: Work Sans;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-header {
    width: 483px;
    height: 120px;
    margin-right: 0px;
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-mobile-menu {
    top: 0px;
    right: 0px;
    display: none;
    margin-top: 0px;
    align-items: stretch;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .home-nav1 {
    height: 78px;
    position: relative;
    margin-bottom: 0px;
  }
  .home-container3 {
    position: relative;
  }
  .home-text {
    left: 0px;
    bottom: -33px;
    position: absolute;
    font-style: normal;
    font-family: Work Sans;
    font-weight: 500;
  }
  .home-heading {
    width: 306px;
    height: 35px;
    font-family: Sora;
    font-weight: 800;
    margin-left: 0px;
  }
  .home-text01 {
    width: 321px;
    height: 35px;
    font-style: inherit;
    font-weight: 500;
    margin-left: 0px;
  }
  .home-text02 {
    font-style: inherit;
    font-weight: 500;
  }
  .home-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-icon-group1 {
    display: flex;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text03 {
    top: 12px;
    left: 192px;
  }
  .home-text05 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image {
    flex: 0;
    width: 480px;
    height: auto;
  }
  .home-banner {
    height: 468px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text07 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-link1 {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-container4 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-text09 {
    text-align: left;
    margin-left: var(--dl-space-space-unit);
    margin-right: 0px;
  }
  .home-icon-group2 {
    position: relative;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    width: 365px;
    height: 84px;
  }
  .home-icon-group {
    display: none;
  }
  .home-mobile-menu {
    display: none;
    padding: 16px;
  }
  .home-text {
    left: 0px;
    bottom: -5px;
    font-size: 16px;
  }
  .home-heading {
    width: 155px;
    height: 37px;
    font-size: 16px;
    font-style: normal;
    font-family: Sora;
    font-weight: 700;
  }
  .home-text01 {
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-family: Sora;
    font-weight: 700;
  }
  .home-text02 {
    font-style: inherit;
    font-weight: 500;
  }
  .home-hero {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-intro {
    width: 303px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    top: -4px;
    left: 138px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-image {
    width: 319px;
    height: auto;
  }
  .home-banner {
    height: 584px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-link1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-link8 {
    align-self: center;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text09 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-icon-group2 {
    margin-top: 0px;
  }
}
