<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1612548403247-aa2873e9422d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHx2aWRlb3xlbnwwfHx8fDE2NjI5MDM1MzU&ixlib=rb-1.2.1&w=1500"
      class="blog-post-card2-image"
    />
    <div class="blog-post-card2-container">
      <span class="blog-post-card2-text"><span>JULY 24</span></span>
      <span class="blog-post-card2-text1">
        <span>Used YouTube API to Request & Analyze Data</span>
      </span>
      <div class="blog-post-card2-separator"></div>
      <span class="blog-post-card2-text2">
        <span>Web Scrapping & Analysis</span>
      </span>
    </div>
  </div>
</div>
