<div>
  <link href="./blog-post-card5.css" rel="stylesheet" />
  <div class="blog-post-card5-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1655635643617-72e0b62b9278?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG5ldXJhbCUyMG5ldHdyb2tzfGVufDB8fHx8MTY2NzgwNTk5OA&ixlib=rb-4.0.3&w=1500"
      class="blog-post-card5-image"
    />
    <div class="blog-post-card5-container">
      <span class="blog-post-card5-text"><span>JULY 24</span></span>
      <span class="blog-post-card5-text1"><span>Image Classifier</span></span>
      <div class="blog-post-card5-separator"></div>
      <span class="blog-post-card5-text2"><span>Deep Learning</span></span>
    </div>
  </div>
</div>
