<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1598746095597-b10285aaf183?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fHRlbGVjb218ZW58MHx8fHwxNjYyOTcyMTkw&amp;ixlib=rb-1.2.1&amp;w=1500"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>JULY 24</span></span>
      <span class="blog-post-card1-text1">
        <span>Churn Prediction for a Telecom Company</span>
      </span>
      <div class="blog-post-card1-separator"></div>
      <span class="blog-post-card1-text2">
        <span>Machine Learning : Classification</span>
      </span>
    </div>
  </div>
</div>
