<div>
  <link href="./nav-links.css" rel="stylesheet" />
  <div class="nav-links-container">
    <a href="#about" class="nav-links-link"><span>ABOUT</span></a>
    <a href="#portfolio" class="nav-links-link1"><span>PORTFOLIO</span></a>
    <a
      href="https://www.linkedin.com/in/stomar5/details/certifications/"
      target="_blank"
      rel="noreferrer noopener"
      class="nav-links-link2"
    >
      <span>CERTIFICATIONS</span>
    </a>
    <a href="blog.html" class="nav-links-navlink"><span>BLOG</span></a>
    <a href="#contact" class="nav-links-link3"><span>CONTACT</span></a>
  </div>
</div>
