<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <div class="navigation-links-container">
    <a href="https://SanchitTomar.github.io" class="navigation-links-link">
      <span>HOME</span>
    </a>
    <a href="#about" class="navigation-links-link1"><span>ABOUT</span></a>
    <a href="#about" class="navigation-links-link2"><span>PORTFOLIO</span></a>
    <a
      href="https://www.linkedin.com/in/stomar5/details/certifications/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link3"
    >
      <span>CERTIFICATIONS</span>
    </a>
    <a href="blog.html" class="navigation-links-navlink"><span>BLOG</span></a>
    <a href="#contact" class="navigation-links-link4"><span>CONTACT</span></a>
  </div>
</div>
